*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
build/
.build/
/releases/
*.moved-aside
*.hmap
*.dSYM.zip
*.dSYM
Package.resolved
.swiftpm/
Pods/

fastlane/report.xml
fastlane/Preview.html
fastlane/test_output

.bundle/
vendor/bundle/

.idea/
.vscode/
*.swp

.DS_Store
/*.xcodeproj
*.ipa

windows/**/bin/
windows/**/obj/
windows/**/.vs/
